.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: 0;
  position: relative;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  height: 35px;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 608px;
  width: 765px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  position: relative;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns__brief {
  display: flex;
  text-align: start;
  width: 175px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%; 
  min-width: 784px;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.two-columns__span-accent {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content:center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 20px auto 0;
  font-weight: normal;
  display: flex;
  justify-content:center;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  align-self: flex-start;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  text-align: start;
  align-self: flex-start;
}

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  background-image: url(/images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.feynman__title {
  width:648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 100px auto 0;
}

.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -210px;
  width: 877px;
  height: 877px;
}

.section-title_theme_dark {
  width: 60%;
  margin: 0 auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content:center;
  color: white;
}

.section-subtitle_theme_dark {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 20px auto 0px;
  font-weight: normal;
  display: flex;
  justify-content:center;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  align-self: flex-start;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  text-align: start;
  align-self: flex-start;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__author {
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}